__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
.venv/
env.bak/
venv.bak/

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

.python-version

.tox/
.pytest_cache/
.cache/
*.cover

staticfiles/
media/

**/migrations/*
*.sqlite3

.DS_Store

*.tar.gz
*.zip

*.bak
